html {
    box-sizing: border-box;
    font-size: 15px;
}

:root {
    /*PRIMARY COLORS*/
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    /*NEUTRAL COLORS*/
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    /*FONT*/
    font-family: 'League Spartan', sans-serif;
}

body {
    background-image: url("images/bg-pattern-top-mobile.svg"),
        url("images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-size: 100%;
}

/*HEADER INFORMATION*/
.title {
    color: var(--very-dark-magenta);

}

header {
    display: inline-block;

    flex-direction: column;
    justify-content: center;
    width: 520px;
    margin: 100px 0px 50px 100px;

}

.title {
    max-width: 250px;
    font-size: 2.5em;
}

.subheading {
    color: var(--dark-grayish-magenta);
    max-width: 400px;
}

/*RATING INFORMATION*/

.ratings {
    display: inline-block;
    flex-direction: column;
    justify-content: center;

}

.rating {
    display: flex;
    background-color: var(--light-grayish-magenta);
    flex-direction: row;
    align-items: center;
    padding: 2px;
    max-width: 400px;
    margin: 10px;
    border-radius: 10px;
}

.stars {
    display: grid;
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    gap: 5px;
    padding: 20px;
}

.rated1,
.rated2,
.rated3 {
    color: var(--very-dark-magenta);
    font-weight: 700;
    padding-right: 50px;
}

#r2 {
    margin-left: 50px;
}

#r3 {
    margin-left: 100px;
}

/*REVIEWS*/

.review {
    background-color: var(--very-dark-magenta);
    color: var(--white);
    padding: 2em;
    margin: 1em 1em;
    border-radius: 10px;
    width: 350px;
    height: 200px;
}

.review1,
.review2,
.review3 {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.review1>img {
    border-radius: 50%;
    margin-right: 32px;
}

.review2>img {
    border-radius: 50%;
    margin-right: 32px;
}

.review3>img {
    border-radius: 50%;
    margin-right: 32px;
}

.reviews {
    display: flex;
    margin: 2em;
}

#irene {
    margin-top: 30px;
}

#anne {
    margin-top: 60px;
}

/*FOOTER INFO*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*media queries mobile version */

@media screen and (max-width: 500px) {
    body {
        /* background-color: rgb(209, 175, 175); */
        background-image: url("images/bg-pattern-top-desktop.svg"),
            url("images/bg-pattern-bottom-desktop.svg");
        background-repeat: no-repeat, no-repeat;
        background-position: top left, bottom right;
        background-size: 50%, 75%;
    }

    .header {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ratings {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .rating {
        justify-content: center;
    }

    #r1,
    #r2,
    #r3 {
        display: flex;
        width: auto;
        margin-left: 0px;
        justify-content: center;
    }

    .reviews {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    #anne {
        margin: 0px;
        margin: 10px 0px 10px 0px;
    }

    #irene {
        margin: 10px 0px 10px 0px;
    }

    #colton {
        margin: 10px 0px 10px 0px;
    }
}